<div class="massrel-status massrel-status-facebook" data-massrel-network="fb" data-massrel-id="{{status.facebook_id}}">
  <a href="http://www.facebook.com/profile.php?id={{status.from.id}}&v=wall" class="massrel-avatar"><img src="https://graph.facebook.com/{{status.from.id}}/picture" alt="" /></a>
  <div class="massrel-content">
    <div class="massrel-author">
      <a href="http://www.facebook.com/profile.php?id={{status.from.id}}&v=wall" class="massrel-screen-name">{{status.from.name}}</a>
    </div>
    <div class="massrel-text">{{{autoLink status.message}}}</div>
    <div class="massrel-meta">
      <div class="massrel-permalink">
        <a href="{{status.link}}" class="massrel-source-logo massrel-source-logo-facebook"><img src="./img/source_facebook.png" alt="" /></a>
        <a href="{{status.link}}" data-date="{{status.created_time}}" class="massrel-created-at massrel-relative-date">{{prettyDate status.created_time}}</a>
      </div>
    </div>
  </div>
</div>
